body,
html {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background: $color-siteBG;
}

* { 
    position: relative;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}

section {
    @include row();
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    margin-top: 60px;

    h1 {
        text-align: center;
        font-size: 50px;
        line-height: 60px;
        margin: 0 0 60px;

        @media( max-width: 414px ) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    .pageWrap {
        @include container();
        //background: $color-white;
    }
}

img {
    max-width: 100%;

    &.righted {
        float: right;
        margin: 0 0 30px 30px;
    }

    &.img-responsive {
        @media(max-width: 550px) {
            display: block;
            width: 100%;
            text-align: center;
            margin: 0 auto 30px;
        }
    }
}

.topIcon {
    font-family: "Source Sans Pro";
    color: $color-green;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    margin-bottom: $spacing;

    .fa-stack {
        display: inline-block;
        margin: 0;
        
        .fa-circle {
            color: $color-green;
        }
        .fa-check {
            color: $color-white;
            //font-size: .5em;
            //top: 1px;
        }
    }

    &.error {
        color: $color-red;
    }
}