form {
    @include row();

    input,
    textarea,
    select {
        display:block;
        padding: calc(#{$spacing}/2);
        @include border-radius(0px);
        width: 100%;
        outline: none;
        border: 1px solid $color-grayLight;
        background:$color-white;
        margin-bottom: calc(#{$spacing}*1.5) !important;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 300;
        font-size:1.25rem;
        color:$color-grayDarker;
        @include transition(all .15s);

        &.error {
            @include box-shadow(inset 0px 0px 0px 1px $color-red);
            border-color: $color-red;

            &:focus {
                border-color: $color-red;
            }
        }

        &.valid {
            @include box-shadow(inset 0px 0px 0px 1px $color-green);
            border-color: $color-green;

            &:focus {
                border-color: $color-green;
            }
        }

        &:focus,
        &:active {
            border-color: $color-slate;
        }

    }

    input[type="submit"] {
        border: none;
    }

    select {
        height:60px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        option[disabled="disabled"] {
            color: $color-grayLight!important;
        }
    }

    .group {
        @include row();
        display:block;
        margin: 0 0 calc(#{$spacing}/2) 0;

        label {
            font-family: "Source Sans Pro";
            font-weight: 700;
            font-size:14px;
            text-transform: uppercase;
            color:$color-gray;
            display: block;
            margin:0 0 calc(#{$spacing}/2) 0;
            @include transition(all .15s);

            &.focused {
                color:$color-grayDarker;
            }
        }

        &:hover {

            &> label {
                color:$color-grayDarker;
            }

            &> input,
            &> textarea,
            &> select {
                //border-color:$color-grayDark;

                &.error {
                    border-color: $color-red;

                    &:focus {
                        border-color: $color-red;
                    }
                }

                &.valid {
                    border-color: $color-green;

                    &:focus {
                        border-color: $color-green;
                    }
                }
            }

            &>input[type="submit"] {
                border:none;
            }

            .row {

                &> input {
                    border-color: $color-grayDarker;
                }
            }
        }

        &.selectInput {
            margin-bottom: $spacing;

            &:after {
                display: block;
                content: '';
                position: absolute;
                bottom: 27px;
                right: 18px;
                z-index: 999;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 7px solid $color-gray;
            }
        }

        &.focused {

            label {
                color:$color-grayDark;
            }

            input,
            textarea,
            select {
                border-color: $color-grayDark;

                &.error {
                    border-color: red;
                }
            }

            &.selectInput {

                &:after {
                    border-top-color:$color-grayDarker;

                    &.error {
                        border-color: red;
                    }
                }
            }
        }
    }
}