form {
	@extend .row;

	input,
	textarea,
	select {
		display:block;
		padding: calc(#{$gutter}/2);
		@include border-radius(0px);
		width: 100%;
		outline: none;
		border: 1px solid $color-lightGray;
		background:$color-white;
		margin-bottom: calc(#{$gutter}/2) !important;
		font-family: "brandon-grotesque", sans-serif;
		font-size:1.25rem;
		color:$color-darkerGray;
		@include transition(all .15s);

		&.error {
			border-color: red;
		}

	}

	input[type="submit"] {
		@extend a.button;
		width:auto;
		margin: 0 auto;
		border:none;
	}

	select {
		height:60px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		option[disabled="disabled"] {
			color: $color-lightGray!important;
		}
	}

	.group {
		@extend .row;
		display:block;
		margin: 0 0 calc(#{$gutter}/2) 0;

		label {
			font-size:1.25rem;
			color:$color-gray;
			@include transition(all .15s);
			display: block;
			margin:0 0 calc(#{$gutter}/3) 0;
			@include transition(all .15s);

			&.focused {
				color:$color-darkerGray;
			}

			&.error {
				position: absolute;
				bottom: -40px;
				right: 0px;
				font-size: .85rem;
				color: red;
			}
		}

		&:hover {

			&> label {
				color:$color-darkerGray;
			}

			&> input,
			&> textarea,
			&> select {
				border-color:$color-gray;

				&.error {
					border-color: red;
				}
			}

			&>input[type="submit"] {
				border:none;
			}

			.row {

				&> input {
					border-color: $color-darkerGray;
				}
			}
		}

		.row {

			&.focused {

				label {
					color:$color-darkerGray;
				}

				input,
				textarea,
				select {
					border-color: $color-darkGray;

					&.error {
						border-color: red;
					}
				}

				&.selectInput {

					&:after {
						border-top-color:$color-darkerGray;

						&.error {
							border-color: red;
						}
					}
				}
			}
		}

		&.selectInput {
			margin-bottom: $gutter;

			&:after {
				display: block;
				content: '';
				position: absolute;
				bottom: 27px;
				right: 18px;
				z-index: 999;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 7px solid $color-gray;
			}

			&.budget {
				display:none;
			}
		}

		&.focused {

			label {
				color:$color-darkerGray;
			}

			input,
			textarea,
			select {
				border-color: $color-darkGray;

				&.error {
					border-color: red;
				}
			}

			&.selectInput {

				&:after {
					border-top-color:$color-darkerGray;

					&.error {
						border-color: red;
					}
				}
			}
		}
	}

	.loader {
		margin: 12px 0 0 5px;
		display: none;
		
		span {
			display: inline-block;
			vertical-align: middle;
			width: 10px;
			height: 10px;
			margin-right: 3px;
			-webkit-transform: scale(0.3);
			transform: scale(0.3);
			@include border-radius(50%);
			background: $color-link;
			-webkit-animation: ptr-loader .4s infinite alternate;
			animation: ptr-loader .4s infinite alternate;

			&#l1 {
				-webkit-animation-delay: 0;
				animation-delay: 0;
			}

			&#l2 {
				-webkit-animation-delay: 0.2s;
				animation-delay: 0.2s;
			}

			&#l3 {
				-webkit-animation-delay: 0.4s;
				animation-delay: 0.4s;
			}
		}
		
		@-webkit-keyframes ptr-loader {
			0% {
				-webkit-transform: translateY(0) scale(0.3);
				transform: translateY(0) scale(0.3);
				opacity: 0;
			}

			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
				background-color: $color-link;
				opacity: 1;
			}
		}

		@keyframes ptr-loader {
			0% {
				-webkit-transform: translateY(0) scale(0.3);
				transform: translateY(0) scale(0.3);
				opacity: 0;
			}

			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
				background-color: $color-link;
				opacity: 1;
			}
		}
	}
}