body {
    font-family: "Merriweather", serif;
    font-size: 100%;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    display: block;
    margin: 32px 0 16px 0;
    color: $color-slate;
}

h2 {
    font-size: 2em;
    color: $color-grayLight;
}

h4 {
    font-family: "Merriweather", serif;
    margin: $spacing auto $spacing*2;
    font-style: normal;
    display: block;
    color: $color-gray;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 300;
}

*.centered {
    text-align: center;
}

p,
li {
    font-size: 1.125em;
    line-height: 1.8;
    margin-bottom: 2em;
    color: $color-gray;
    font-weight: 300;

    @media( max-width: 768px ) {
        font-size: 1em;
    }

    &.italic {
        font-style: italic;
    }

    &.bigger {
        font-size: 20px;
    }

    strong {
        font-weight: 700;
        color: $color-black;
    }

    @media( max-width: 1024px ) {
        line-height: 1.9;
        margin-bottom: 1.9em;
    }
}

li {
    margin: 0;
}

img {
    max-width: 100%;
}

a,
a:visited {
    color: $color-blue-link-darker;
    @include transition(.1s color ease-in-out);

    &:hover {
        color: $color-blue-link;
    }
}

blockquote {
    border-left: 3px solid $color-grayLight;
    padding-left: 15px;
    margin: 16px 0px;

    p {
        line-height: 1.5;
    }

    @media(max-width: 768px) {
        margin: 0;
    }
}