$screen-large: 1440px;

$color-slate: #384148;
$color-slateDark: darken($color-slate, 5%);

$color-blue-link: #57B0FF;
$color-blue-link-lighter: lighten($color-blue-link, 20%);
$color-blue-link-lightest: lighten($color-blue-link, 27.5%);
$color-blue-link-darker: darken($color-blue-link, 20%);

$color-green: #3bda17;
$color-red: #f96464;

$color-white: #ffffff;
$color-black: #000000;

$color-grayDarker: #333333;
$color-grayDark: #333333;
$color-gray: #666666;
$color-grayLight: #999999;
$color-grayLighter: #eeeeee;
$color-grayLightest: #f8f8f8;

$color-twitter: rgb(85,172,238);
$color-dribbble: rgb(234,76,137);
$color-linkedin: rgb(0,119,181);
$color-flickr: rgb(45,17,82);
$color-instagram: rgb(0,53,105);

$spacing: 1em;