section.videoIntro {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    &.homeVideoPlaceholder {
        background: url("/images/home-videoPlaceholder.png");
        background-size: cover;
        background-attachment: fixed;
        background-position: center bottom;
    }

    .title {
        position: absolute;
        width: auto;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));
        text-align: center;
        z-index: 99;
        white-space: nowrap;

        h2 {
            color: white;
            font-size: 3em;
            line-height: 1;
            font-family: "Source Sans Pro";

            @media( max-width: 375px ) {
                font-size: 2.5em;
            }

            span.byline {
                display: block;
                font-size: .42em;
                line-height: 3;
                font-weight: 300;
            }
        }
    }

    .ad-simple {

        &.designerTalk {
            position: absolute;
            bottom: $spacing;
            left: 50%;
            @include transform(translateX(-50%));
            z-index: 99;

        }
    }

    .overlay {
        @include overlay();
    }

    .videoWrap {
        //padding-bottom: 56.25%; //16:9
        overflow: hidden; 
        max-width: 100%; 
        height: 100%;

        iframe,
        object, 
        embed {
            position: absolute; 
            bottom: 0; 
            left: 0; 
            width: 100%; 
            height: 100%;
        }
    }
}