section.work {
    @include center();

    .pageWrap {
        @include container();

        .shots {
            @include center();
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: visible;

            li {
                @include column(1/2, $cycle: 2);
                display: block;
                margin-bottom: 3%;
                @include box-shadow(0px 2px 24px rgba(0, 0, 0, .2));
                font-size: 0;

                @media(max-width: 500px) {
                    @include column(1/1, $cycle: 1);
                    margin-bottom: 6%;
                }
            }
        }
    }
}
